$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$gray-hard: #7b7b7b;
$orange: #fe5f1e;
$orange-easy: #ffa37d;
$easy-red: #bf5252;
$white: #ffffff;

$container-width: 90%;

$duration: 0.15s;

// breakpoint
$bp-mobile-xs: 320px;
$bp-mobile: 464px;
$bp-table: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1280px;
$bp-desktop-md: 1440px;
$bp-desktop-xl: 1920px;
